.app-container {
  padding: 0 5rem 2rem 5rem;
}

.header-section {
  position: sticky;
  top: 0;
  padding-top: 2rem;
  margin-bottom: 3rem;
  z-index: 99;
}

.header-content {
  display: flex;
  justify-content: center;
}

.page-content {
  height: 100vh;
  max-width: 100%;
  color: white;
}