@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

body {
  background-image: url('/background-image.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}